{% load static %}

<header class="ui center aligned grid" id="main-header">
	<div class="center aligned sixteen wide column" id="logo-mobile">
		<a href="/"><img src="{% static 'amang/img/logo.png' %}" alt="아망로고" id="logo"></a>
	</div>
	<div class="left aligned eight wide column" id="logo">
		<a href="/"><img src="{% static 'amang/img/logo.png' %}" alt="아망로고" id="logo"></a>
	</div>
	<div class="right aligned eight wide column" id="description">
		<h1 class="ui inverted header">성균관대학교<br>자유음악동아리</h1>
	</div>
</header>

<header class="ui center aligned grid" id="main-inverted-header">
	<div class="center aligned sixteen wide column" id="logo-mobile">
		<a href="/"><img src="{% static 'amang/img/logo_black.png' %}" alt="아망로고" id="logo"></a>
	</div>
	<div class="left aligned eight wide column" id="logo">
		<a href="/"><img src="{% static 'amang/img/logo_black.png' %}" alt="아망로고" id="logo"></a>
	</div>
	<div class="right aligned eight wide column" id="description">
		<h1 class="ui header">성균관대학교<br>자유음악동아리</h1>
	</div>
</header>